*{
    font-size: 14px;
}
.main-body {
    background: white;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    width: 750px;
    color: white;
}
.header {
    height: 100px;
    width: 100%;
    background: black;
    text-align: center;
    overflow: hidden;
}
.header h1{
    font-size: 35px;
    font-weight: bold;
    color: white;
}
.notification {
    height: 70px;
    width: auto;
    padding: 10px;
}
.message h3{
    font-size: 25px;
    color: black;
}
form {
    padding : 0 100px 50px;
    color: white;
}
#n{
    color: black;
}
#na{
    color: black;
}